[submodule ".registry"]
	path = .registry
	url = https://github.com/mhenderson/mhenderson.r-universe.dev
	branch = HEAD
[submodule "blackmore"]
	path = blackmore
	url = https://github.com/MHenderson/blackmore
[submodule "funcgeo"]
	path = funcgeo
	url = https://github.com/MHenderson/funcgeo
[submodule "poetrytools"]
	path = poetrytools
	url = https://github.com/MHenderson/poetrytools
[submodule "roomba"]
	path = roomba
	url = https://github.com/ropenscilabs/roomba
	registered = false
[submodule "todotxt"]
	path = todotxt
	url = https://github.com/MHenderson/todotxt
[submodule "yesno"]
	path = yesno
	url = https://github.com/MHenderson/yesno
