[submodule ".registry"]
	path = .registry
	url = https://github.com/mhenderson/mhenderson.r-universe.dev
	branch = HEAD
[submodule "funcgeo"]
	path = funcgeo
	url = https://github.com/MHenderson/funcgeo
