[submodule ".registry"]
	path = .registry
	url = https://github.com/mhenderson/mhenderson.r-universe.dev
	branch = HEAD
[submodule "blackmore"]
	path = blackmore
	url = https://github.com/MHenderson/blackmore
[submodule "funcgeo"]
	path = funcgeo
	url = https://github.com/MHenderson/funcgeo
	branch = v0.2.1
[submodule "llinyn"]
	path = llinyn
	url = https://github.com/MHenderson/llinyn
	branch = *release
[submodule "minionator"]
	path = minionator
	url = https://github.com/MHenderson/minionator
[submodule "mopr"]
	path = mopr
	url = https://github.com/MHenderson/mopr
[submodule "poetrytools"]
	path = poetrytools
	url = https://github.com/MHenderson/poetrytools
[submodule "rminion"]
	path = rminion
	url = https://github.com/MHenderson/rminion
[submodule "roomba"]
	path = roomba
	url = https://github.com/ropenscilabs/roomba
	registered = false
[submodule "todotxt"]
	path = todotxt
	url = https://github.com/MHenderson/todotxt
